<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 offset-md-2 col-md-8 mb-5 justify-content-center contact-form px-4">
            <form method="POST" action="{% url 'contact' %}" id="contact-form">
                {% csrf_token %}
                {{ contact_form|crispy }}
                <div class="text-center mb-2 mt-4">
                    <button type="submit" class="btn btn-success btn-lg uppercase" id="contact-form-button"
                        aria-label="Submit the contact form">
                        SEND
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

