{% extends "base.html"%}
{% load static %}
{% load humanize %}
{% load bag_tools %}
{% block extra_title %}| Shopping Cart{% endblock %}

{% block header_content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-12 my-auto mx-auto mt-4">
                <h3 class=" section-heading-2 text-uppercase mt-4 mb-5">
                    Shopping Cart
                </h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="font-italic">
                                <tr class="hrline">
                                    <th scope="col">Product</th>
                                    <th scope="col" class="ps-4" style="width: 35%;">Description</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in cart_items %}
                                <tr>
                                    <td class="py-4 pe-4 cart-image text-center">
                                        {% include "cart/includes/product_image.html" %}
                                    </td>
                                    <td class="py-4 ps-4 text-center">
                                        {% include "cart/includes/product_info.html" %}
                                    </td>
                                    <td class="py-5 pe-1 text-center">
                                        <p class="my-1">
                                            €{{ item.product.price|intcomma }}
                                        </p>
                                    </td>
                                    <td class="py-4 w-25 text-center">
                                        {% include "cart/includes/cart_update_form.html" %}
                                    </td>
                                    <td class="py-4 text-center">
                                        <p class="my-1">€{{ item.product.price | calc_subtotal:item.quantity|intcomma}}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-end">
                                    {% include "cart/includes/cart_total.html" %}
                                </td>
                            </tr>
                            <tr>
                                {% include "cart/includes/cart_buttons.html" %}
                            </tr>
                        </table>
                    </div>
                {% else %}
                <!-- Empty cart -->
                    {% include "cart/includes/empty_cart.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes_products/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            let number = this.dataset.number;
            let cartForm = document.querySelector(`#cart-form-${number}`);
            let cartFormValid  = cartForm.checkValidity();
            if (cartFormValid) {
                let form = $(this).prev('.quantity-update-form');
                form.submit();
            } else {
                $(this).prev().children('.error-message').removeClass("d-none");
            }
        });

        // Remove item from the cart and reload on click
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1];
            let size = $(this).data('product_size');
            let url = `/cart/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
    
            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>

{% endblock %}