{% extends "base.html"%}
{% load static %}
{% block extra_title %}| Cart{% endblock %}

{% block header_content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-12 my-auto mx-auto mt-4">
                <h3 class="display-5 text-uppercase">
                    Shopping Cart
                </h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded d-none d-md-block"></div>
                {% else %}
                    <p class="lead mb-4">Your cart is empty.</p>
                    <a href="{% url 'products' %}" class="btn button-green px-3 mr-3">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}