{% extends "base.html" %}
{% load static %}

{% block title %}Extraordinary Running Experiences{% endblock %}

{% block header_content %}
    <div id="home-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 my-auto ms-3 me-3">
                    <h1 class="display-4 main-heading text-uppercase">
                        Extraordinary Running Experiences
                    </h1>
                    <h3 class="sub-heading">
                        Join a running experience to the Europe's most extraordinary trails.
                    </h3>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'holidays' %}" class="explore-button btn btn-outline-success btn-lg py-3" aria-label="Explore trail running adventures offer">
                                Explore
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'home/includes/home_content_1.html' %}
    {% include 'home/includes/home_content_2.html' %}
    {% include 'home/includes/home_content_3.html' %}
    {% include 'home/includes/home_content_4.html' %}
    {% include 'home/includes/home_content_5.html' %}
    {% include 'home/includes/home_content_6.html' %}
{% endblock %}