{% extends "base.html" %}
{% load static %}

{% block title %}Extraordinary Running Experiences{% endblock %}

{% block header_content %}
    <div id="home-header">
        <div class="container">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 main-heading text-uppercase">
                        Extraordinary Running Experiences
                    </h1>
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        In non eros semper, consequat lectus vel, rutrum augue.
                    </h3>
                    <div class="my-5">
                        <h4>
                            <a href="" class="explore-button btn btn-outline-secondary btn-lg py-3">Explore</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}