{% extends "base.html"%}
{% load static %}
{% block extra_title %}| Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block header_content %}
    <div class="container p-3">
        <div class="row text-center mt-2">
            <div class="col-12">
                <h3 class="text-uppercase mt-5 mb-5">My Profile</h3>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}
