@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: Roboto;
  width: auto;
}

#brand-logo {
  width: 7.5rem;
}

/* Expandable search - code source: https://codepen.io/ahmadbassamemran/pen/rNjMXqg */

.search-form {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #439B94;
  padding-right: 40px;
  color:#fff;
}

.input-search::placeholder {
  color: #000000;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#fafafa;
  background-color: #439B94;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search {
  width: 170px;
  border-radius: 0px;
  background: #439B94;
  border-bottom:1px solid #000;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus {
  width: 170px;
  border-radius: 0px;
  background-color: #439B94;
  border-bottom:1px solid #000000;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


#hero-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#home-header {
    background: url('/media/hero_image.jpg') no-repeat center;
    background-size: cover;
}

.main-heading {
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15 rem;
  color: #000000;
  text-shadow: 0.07rem 0.06rem #fafafa;
}

.sub-heading {
  color: #fafafa;
  text-shadow: 0.1rem 0.1rem #505559;
}

.btn-outline-success {
  color: #fafafa !important;
  border-color: #fafafa !important;
  border-width: 0.1rem;
}

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
  color: #000000;
  background-color: #439B94;
  transform: scale(1.05);
}

main {
  min-height: calc(100vh - 10.3rem);
}


/* Media Queries */
/* Display on tablet devices */  

@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  #brand-logo {
    width: 9.4rem;
  }
}

/* Display on large devices */
@media screen 
  and (min-width: 1024px) {

    #brand-logo {
      width: 9.4rem;
    }
}

/* For iPad Pro 12.9" 
Credit: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/#top-of-site
Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)  {

}

/* iPhone 5 only (portrait mode)
resource: https://coderwall.com/p/mwvbea/media-queries-only-for-the-iphone-5-part-i */ 

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-device-pixel-ratio: 2) 
  and (min-aspect-ratio: 40/71) and (orientation:portrait) {

}
