@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

html {
  scroll-behavior: smooth;
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  width: auto;
}

#brand-logo {
  width: 7.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.nav-link:hover {
  border-bottom: 0.15rem solid #439B94;
  padding-bottom: 0.15rem;
}

.active-nav-link {
  color: #439B94 !important;
  font-weight: bold;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color:#daf7f7;
}

.list-inline {
  padding-left: 7rem;
}

.text-success-cart {
  color: #439B94;
}

.text-success-cart:hover {
  color: #33a9a0
}

.allauth-form-inner-content p {
  border-color: #000;
  border-radius: 0.5rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

input[name='q']::placeholder {
  color: #aab7c4;
}

#hero-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#home-header {
    background: url('/static/images/hero_image.jpg') no-repeat center;
    background-size: cover;
}

.main-heading {
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15 rem;
  color: #000000;
  text-shadow: 0.07rem 0.06rem #fafafa;
}

.sub-heading {
  color: #fafafa;
  text-shadow: 0.1rem 0.1rem #212324;
}

.section-heading-1 {
  margin-top: 6rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.15 rem;
}

.section-button {
  background-color: #439B94;
  color: #fafafa;
}

.section-button:hover, .section-button:active {
  background-color: #439B94;
  color: #fafafa;
  transform: scale(1.05);
}

.btn-outline-success {
  color: #fafafa !important;
  border-color: #fafafa !important;
  border-width: 0.1rem;
}

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
  color: #000000;
  background-color: #439B94;
  transform: scale(1.05);
}

.trail-p {
  font-family: 'Roboto', sans-serif;
  color: #212529;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.page-background {
  background: url('/static/images/mountains_background.png') no-repeat center;
  background-size: cover;
  height: 20rem;
  margin-top: 2rem;
}

.section-heading-2 {
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.15 rem;
  font-size: 2.2rem;
  color: #439B94;
}

main {
  min-height: calc(100vh - 10.3rem);
}

a {
  text-decoration: none;
}


/* Tour cards */

.tour-card {
  max-width: 18.75rem;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
}

.tour-card img {
  height: 40vh;
  transition: all 0.25s linear;
}

.tour-card .card-content {
  position: relative;
  padding: 15px;
  background-color: #FFF;
}

.tour-card .card-title {
  font-weight: bold;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -70px;
  color: #fafafa;
  font-size: 17px;
}

.tour-card .card-description {
  color: #777;
  font-size: 12px;
  padding: 10px;
}

.tour-card .tour-content::before {
  content: "";
  position: absolute;
  height: 20px;
  top: -10px;
  left: 0px;
  right: 0px;
  background-color: #fafafa;
  z-index: 0;
  transform: skewY(3deg);
}

.tour-card:hover img {
  transform: rotate(5deg) scale(1.1, 1.1);
  filter: brightness(110%);
}

.card-button {
  background-color: #7ecbce;
}

/* Home - Shop section */

.shop-column {
  margin-bottom: 3rem;
}

.category-card-img img {
  height: fit-content;
  width: 10.30rem;
  margin: 1.1rem auto 0 auto;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect:hover .category-card-img img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.category-card-button {
  z-index: 1;
}

/* Benefits card - WHY TRΛIL RUN ΛDVENTURES  */
/* Code source with modification: https://codepen.io/maheshambure21/embed/GgVbVW?default-tab=result&theme-id=0#html-box */
.benefit-card-block {
  position: relative;
  /* padding: 1em 3em 1em; */
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.benefit-card-block .benefit-card {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  background: #439B94;
  text-align: center;
  cursor: pointer;
}

.benefit-card-block .benefit-card img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.benefit-card-block .card-img-overlay {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.benefit-card-block .card-img-overlay::before,
.benefit-card-block .card-img-overlay::after {
  pointer-events: none;
}

.benefit-card-block .card-img-overlay,
.benefit-card-block .card-img-overlay > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
.benefit-card-block .card-img-overlay > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.benefit-card-block figure h3 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.benefit-card-block .benefit-card h2,
.benefit-card-block .benefit-card p {
  margin: 0;
}

.benefit-card-block .benefit-car p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

.benefit-card img {
  height: 22rem;
}

.card-img-overlay {
  padding: 3em;
}

.card-img-overlay::before,
.card-img-overlay::after {
  position: absolute;
  content: '';
  opacity: 0;
}

.card-img-overlay::before {
  top: 3.125rem;
  right: 1.875rem;
  bottom: 3.125rem;
  left: 1.875rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.card-img-overlay::after {
  top: 1.875rem;
  right: 3.125rem;
  bottom: 1.875rem;
  left: 3.125rem;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.card-img-overlay h3 {
  padding-top: 26%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.card-img-overlay p {
  padding: 0.5em 2em;
  text-transform: none;
  opacity: 0;
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
}

.card-img-overlay img,
.card-img-overlay h3 {
  -webkit-transform: translate3d(0,-30px,0);
  transform: translate3d(0,-30px,0);
}

.card-img-overlay img,
.card-img-overlay::before,
.card-img-overlay::after,
.card-img-overlay p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.card-img-overlay:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.benefit-card:hover .card-img-overlay::before,
.benefit-card:hover .card-img-overlay::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.benefit-card:hover .card-img-overlay::before,
.benefit-card:hover .card-img-overlay::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.benefit-card:hover h3,
.benefit-card:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.benefit-card:hover .card-img-overlay::after,
.benefit-card:hover h3,
.benefit-card:hover p,
.benefit-card:hover img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}


/* Blog section on home page */

.post .blog-header {
  margin-bottom: 0.94rem;
}

.blog-post {
  width: 85%;
  margin-bottom: 4rem;
}

.blog-post .blog-content {
  -webkit-box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 1.875rem;
  position: relative;
  background: #fff;
  margin-top: -4.68rem;
}

.blog-post .blog-overlay {
  position: relative;
  left: 1.35rem;
  margin-bottom: 0;
}

.blog-post .blog-overview p:last-of-type {
  margin-bottom: 0;
}

.blog-post .blog-footer {
  border-top: 1px solid #ebebeb;
  padding-top: 0.94rem;
  margin-top: 1.25rem;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

.blog-card-title a {
  color: #439B94;
}

.footer-link > a {
  color: #33706c;
}

.footer-meta > a {
  color: #2f7f79;
  font-size: 0.94rem;
  margin-right: 0.31rem;
}

.blog-post .blog-footer .footer-meta a i {
  font-size: 1rem;
  margin-left: 0.125rem;
}

.blog-link {
  color: #439B94;
}

.blog-link:hover {
  color: #2f7f79;
}

/* Quote Carousel */
.quote-section {
  margin-top: 5rem !important;
}

.carousel-background {
  background: url('/static/images/hills_background.jpg') no-repeat center;
  background-size: cover;
  height: auto;
}

.width-auto {
  width: auto;
}

.text-lg {
  font-size: 2rem;
}

.carousel-indicators li {
  border: none;
  background: #ccc;
}

/* extra space for carousel arrows */
.carousel-control-prev,
.carousel-control-next {
  margin: -1rem;
}

/* Footer */
footer {
  background-color: #3e4551;
}

#copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-email a, 
.footer-phone a {
  color: #fafafa;
  text-decoration: underline;
}

.update-link,
.remove-item {
  cursor: pointer;
}

/* About pages */
#team-header_1 {
  background: url('/static/images/about/our_story.jpg') no-repeat center;
  background-size: cover;
  min-height: 76vh;
}

#team-header_2 {
  background: url('/static/images/about/team.jpg') no-repeat center;
  background-size: cover;
  min-height: 76vh;
}

#contact-header {
  background: url('/static/images/contact.jpg') no-repeat center;
  background-size: cover;
  min-height: 76vh;
}

.team-heading {
  margin-top: 9.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15 rem;
  color: #fafafa;
  text-shadow: 0.15rem 0.15rem #000000;
}

.team-sub-heading {
    color: #fafafa;
    text-shadow: 0.1rem 0.1rem #212324;
    font-family: 'Lato', sans-serif;
}

.instructor-image-block {
  width: 80%;
  margin-top: 4rem;
  text-shadow: 0.07rem 0.06rem #fafafa;
}

.instructor-name {
  text-transform: uppercase;
  color: #575a7b;
  font-weight: bold;
  font-family: Lato;
}

.instructor-title {
  color: #575a7b;
}

.story-image {
  width: 65%;
}

/* Bootstrap toasts*/
.message-container {
  position: fixed;
  top: 4.5rem;
  right: 0.95rem;
  z-index: 99999;
}

.custom-toast {
  overflow: visible;
}

.cart-notification-wrapper {
  height: 6.25rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.checkout-button {
  background-color: #11766e;
  color: #fafafa;
}

.checkout-button:hover, .checkout-button:active {
  background-color: #13867d;
  color: #fafafa;
}

.adjust-button {
  background-color: #656996;
  color: #fafafa;
}

.adjust-button:hover, .adjust-button:active {
  background-color: #575a7b;
  color: #fafafa;
}

/* Back to top arrow - code with small modification taken from: 
https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#arrow_2top {
  position: fixed;
  bottom: 0.1rem;
  right: 1rem;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: transparent;
  color: #0ea596;
  opacity: 0.4;
  cursor: pointer; /* Add a mouse pointer on hover */
}

#arrow_2top:hover {
  color:#149285;
}

.bg-light {
  background-color: #f3f8f8!important;
}

/* Product Form */
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* Contact Form */
#contact-form-button {
  background-color: #149285;
  color: #fafafa;
}

#contact-form-button:hover,
#contact-form-button:focus,
#contact-form-button:active {
  background-color: #B3D5D2 !important;
  border-color: #B3D5D2 !important;
  color: #000;
  border: 0.12rem solid;
}


.form-group {
  padding-bottom: 1rem;
}

#runners-image {
  background: url('/static/images/running-up-the-hill.jpg') no-repeat center;
  background-size: cover;
  height: auto;
  margin-top: 2rem;
}

/* Shopping Cart */
thead th {
  padding-bottom: 0.5rem !important;
  text-align: center;
}

.hrline {
  border-bottom: 0.1rem solid #439B94;
}

.cart-image {
  width: 15%;
}

.cart-quantity {
  margin-left: 4.4rem;
}

/* Login & Register button */

.button-primary {
  background-color: #149285 !important;
  border: none;
}

.button-primary:hover, .button-primary:active {
  background-color: #11796e !important;
}

/* Media Queries */
/* Display on tablet devices */  

@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    padding-top: 3.75rem;
  }

  #brand-logo {
    width: 9.4rem;
  }

  .tour-card img {
    height: 25vh;
  }

  .blog-post-heading {
    top: 50%;
  }

  .blog-post {
    width: 75%;
    margin-bottom: 4rem;
  }

  .section-heading-2 {
    font-size: 3rem;
  }

  .team-heading {
    margin-top: 18rem;
  }
}

/* Display on large devices */
@media screen 
  and (min-width: 1024px) {

    #brand-logo {
      width: 9.4rem;
    }

    .section-heading-2 {
      letter-spacing: 0.2 rem;
      font-size: 3.2rem;
      font-weight: 700;
    }

    .blog-post .blog-content {
      -webkit-box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
              box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
      padding: 1.875rem;
      position: relative;
      background: #fafafa;
      margin-top: -4.68rem;
    }

    .search-mob {
      display: none;
    }

    .blog-card-img-top {
      height: 15vw;
    }

    #blog-post-header-img {
      width: 100%;
    }

    .card-img-top {
      width: 100%;
      height: 55vh;
      object-fit: cover;
    }

    .quote-section {
      margin-top: 7rem !important;
    }

    /* extra space for carousel arrows */
    .carousel-control-prev,
    .carousel-control-next {
      margin: -3rem;
    }

    .instructor-image-block {
      width: 70% !important;
    }
}

/* For iPad Pro 12.9" 
Credit: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/#top-of-site
Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)  {

}

/* iPhone 5 only (portrait mode)
resource: https://coderwall.com/p/mwvbea/media-queries-only-for-the-iphone-5-part-i */ 

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-device-pixel-ratio: 2) 
  and (min-aspect-ratio: 40/71) and (orientation:portrait) {

}
