@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

html {
  scroll-behavior: smooth;
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Roboto;
  width: auto;
}

#brand-logo {
  width: 7.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.nav-link:hover {
  border-bottom: 0.15rem solid #439B94;
  padding-bottom: 0.15rem;
}

.list-inline {
  padding-left: 7rem;
}

/*
Expandable search bar - code source: https://codepen.io/ahmadbassamemran/pen/rNjMXqg
.search-form {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #439B94;
  padding-right: 40px;
  color:#fff;
}

.input-search::placeholder {
  color: #000000;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#fafafa;
  background-color: #439B94;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search {
  width: 170px;
  border-radius: 0px;
  background: #439B94;
  border-bottom:1px solid #000;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus {
  width: 170px;
  border-radius: 0px;
  background-color: #439B94;
  border-bottom:1px solid #000000;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
*/

#hero-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#bg-banner {
  background-color: #076158;
}

#home-header {
    background: url('/media/hero_image.jpg') no-repeat center;
    background-size: cover;
}

.main-heading {
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15 rem;
  color: #000000;
  text-shadow: 0.07rem 0.06rem #fafafa;
}

.sub-heading {
  color: #fafafa;
  text-shadow: 0.1rem 0.1rem #505559;
}

.section-heading-1 {
  margin-top: 6rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.15 rem;
}

.section-button {
  background-color: #439B94;
  color: #000000;
}

.section-button:hover, .section-button:active {
  background-color: #439B94;
  transform: scale(1.05);
}

.btn-outline-success {
  color: #fafafa !important;
  border-color: #fafafa !important;
  border-width: 0.1rem;
}

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
  color: #000000;
  background-color: #439B94;
  transform: scale(1.05);
}

.trail-p {
  font-family: 'Roboto', sans-serif;
  color: #212529;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.page-background {
  background: url('/static/images/mountains_background.png') no-repeat center;
    background-size: cover;
    height: 20rem;
    margin-top: 2rem;
}

.section-heading-2 {
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.15 rem;
  font-size: 2.2rem;
  color: #439B94;
}

main {
  min-height: calc(100vh - 10.3rem);
}

a {
  text-decoration: none;
}


/* Tour cards */

.tour-card {
  max-width: 300px;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
}

.tour-card img {
  height: 40vh;
  transition: all 0.25s linear;
}

.tour-card .card-content {
  position: relative;
  padding: 15px;
  background-color: #FFF;
}

.tour-card .card-title {
  font-weight: bold;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -70px;
  color: #fafafa;
  font-size: 17px;
}

.tour-card .card-description {
  color: #777;
  font-size: 12px;
  padding: 10px;
}

.tour-card .tour-content::before {
  content: "";
  position: absolute;
  height: 20px;
  top: -10px;
  left: 0px;
  right: 0px;
  background-color: #fafafa;
  z-index: 0;
  transform: skewY(3deg);
}

.tour-card:hover img {
  transform: rotate(5deg) scale(1.1, 1.1);
  filter: brightness(110%);
}

.card-button {
  background-color: #7ecbce;
}

/* Home - Shop section */
.category-card-img img {
  height: fit-content;
  width: 165px;
  margin: 1.1rem auto 0 auto;
}

.category-card-button {
  z-index: 1;
}

/* Benefits card - WHY TRΛIL RUN ΛDVENTURES  */
.benefit-card img {
  height: 65vh;
  transition: all 0.25s linear;
}

.benefit-title {
  display: flex;
  position: absolute;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fafafa;
  font-size: 1.2rem;
  text-shadow: 0.1rem 0.1rem #222324;
}

/* Blog section on home page */

.post .blog-header {
  margin-bottom: 0.94rem;
}

.blog-post .blog-content {
  -webkit-box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 1.875rem;
  position: relative;
  background: #fff;
  margin-top: -4.68rem;
}

.blog-post .blog-overlay {
  position: relative;
  left: 1.56rem;
  margin-bottom: 0;
}

.blog-post .blog-overview p:last-of-type {
  margin-bottom: 0;
}

.blog-post .blog-footer {
  border-top: 1px solid #ebebeb;
  padding-top: 0.94rem;
  margin-top: 1.25rem;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.blog-card-title a {
  color: #439B94;
}

#footer-link > a {
  color: #33706c;
}

.footer-meta > a {
  color: #aaa;
  font-size: 0.94rem;
  margin-right: 0.31rem;
}

.blog-post .blog-footer .footer-meta a i {
  font-size: 1rem;
  margin-left: 0.125rem;
}

.quote-section {
  margin-top: 8rem !important;
}

.carousel-background {
  background: url('/static/images/hills_background.jpg') no-repeat center;
  background-size: cover;
  height: 170vh;
}

/* Quote Carousel */
.width-auto {
  width: auto;
}

.text-lg {
  font-size: 2rem;
}

.carousel-indicators li {
  border: none;
  background: #ccc;
}

.carousel-indicators li.active {
  background: #28a745;
}

/* Footer */
footer {
  background-color: #3e4551;
}

#copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-email a, 
.footer-phone a {
  color: #fafafa;
  text-decoration: underline;
}

/* About pages */

#team-header_1 {
  background: url('/static/images/about/our_story.jpg') no-repeat center;
  background-size: cover;
  min-height: 76vh;
}

#team-header_2 {
  background: url('/static/images/about/team.jpg') no-repeat center;
  background-size: cover;
  min-height: 76vh;
}

#contact-header {
  background: url('/static/images/contact.jpg') no-repeat center;
  background-size: cover;
  min-height: 76vh;
}

.team-heading {
  margin-top: 9.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15 rem;
  color: #fafafa;
  text-shadow: 0.15rem 0.15rem #000000;
}

.team-sub-heading {
    color: #fafafa;
    text-shadow: 0.1rem 0.1rem #505559;
    font-family: 'Lato', sans-serif;
}

.instructor-image-block {
  width: 60%;
  margin-top: 4rem;
  text-shadow: 0.07rem 0.06rem #fafafa;
}

.instructor-name {
  text-transform: uppercase;
}

.card-img-overlay {
  padding: 5rem;
}

.story-image {
  width: 65%;
}

/* Back to top arrow - code with small modification taken from: 
https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#arrow_2top {
  position: fixed;
  bottom: 0.1rem;
  right: 1rem;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: transparent;
  color: #0ea596;
  opacity: 0.4;
  cursor: pointer; /* Add a mouse pointer on hover */
}

#arrow_2top:hover {
  color:#149285;
}

.bg-light {
  background-color: #f3f8f8!important;
}

hr {
  color: #33706c;
  height: 0.1rem !important;
}

/* Media Queries */
/* Display on tablet devices */  

@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    padding-top: 3.75rem;
  }

  #brand-logo {
    width: 9.4rem;
  }

  .tour-card img {
    height: 25vh;
  }

  .blog-post-heading {
    top: 50%;
  }

  .section-heading-2 {
    font-size: 3rem;
  }

  .team-heading {
    margin-top: 18rem;
  }
}

/* Display on large devices */
@media screen 
  and (min-width: 1024px) {

    #brand-logo {
      width: 9.4rem;
    }

    .blog-post .blog-content {
      -webkit-box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
              box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
      padding: 1.875rem;
      position: relative;
      background: #fafafa;
      margin-top: -4.68rem;
    }

    .search-mob {
      display: none;
    }

    .blog-card-img-top {
      height: 15vw;
    }

    #blog-post-header-img {
      width: 100%;
    }
}

/* For iPad Pro 12.9" 
Credit: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/#top-of-site
Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)  {

}

/* iPhone 5 only (portrait mode)
resource: https://coderwall.com/p/mwvbea/media-queries-only-for-the-iphone-5-part-i */ 

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-device-pixel-ratio: 2) 
  and (min-aspect-ratio: 40/71) and (orientation:portrait) {

}
