/* Shop section */
#shop-header {
    background: url('/static/images/products/shop_header.jpg') no-repeat center;
    background-size: cover;
    min-height: 76vh;
}

.products-heading {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15 rem;
    font-size: 2.2rem;
    color: #439B94;
}


.card-product-title {
    font-size: 1.3rem;
    color: #575a7b;
}

.card-footer {
    border-top: 0;
}

#product-divider {
    background: #439B94;
    height: 0.1rem !important;
    border-radius: 100%;
    border: 0;
    margin: 1rem 0;
    opacity: 0.8;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fafafa !important;
}

.rating {
    color: #439B94;
}

.product-card {
    border: 0;
}

/* Trail Running Holidays */
#holidays-header {
    background: url('/static/images/products/adventures_header.jpg') no-repeat center;
    background-size: cover;
    min-height: 80vh;
}

.holiday-heading {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15 rem;
    font-size: 2.2rem;
    color: #439B94;
    margin-bottom: 2rem;
}

#adventure-header-img {
    background-position: center;
    background-size: cover;
    width: auto;
    height: 80vh;
}

#adventure-header {
    position: relative;

}

#adventure-header-block {
    position: absolute;
    top: 8px;
    right: 16px;
}

.adventure-header-info {
    color: #fafafa;
}

#overview-block {
    margin-top: 2rem;
}

/* Itinerary */
/* Accordion without border credit: https://www.bootdey.com/snippets/view/accordion-without-border#html*/

.accordion-style .card {
    background: transparent;
    box-shadow: none;
    margin-bottom: 15px;
    margin-top: 0 !important;
    border: none;
}

.accordion-style .card:last-child {
    margin-bottom: 0;
}

.accordion-style .card-header {
    border: 0;
    background: none;
    padding: 0;
    border-bottom: none;
}

.accordion-style .btn-link {
    color: #f99218;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    white-space: normal;
    box-shadow: none;
    padding: 15px 55px;
    text-decoration: none;
}

.rounded {
    border-radius: 0.25rem !important;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.accordion-style .btn-link:hover {
    text-decoration: none;
}
.accordion-style .btn-link.collapsed {
    color: #575a7b;
}
.accordion-style .btn-link.collapsed:after {
    content: "+";
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 1rem;
    color: #f99218;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
}
.accordion-style .btn-link:after {
    content: "-";
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 1rem;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f99218;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
}
.accordion-style .card-body {
    padding-top: 0px;
    padding-left: 3.5rem;
    padding-bottom: 0;
}
.accordion-style .card-body:before {
    position: absolute;
    content: "";
    border-style: dashed;
    border-width: 0 0 0 1.2px;
    border-color: #f99218;
    left: 20px;
    top: 0;
    z-index: 1;
    bottom: 0;
}

.modal-button {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.modal-button:focus, .modal-button:active, .modal-button:hover {
    outline: transparent;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15 rem;
    font-size: 2.2rem;
    color: #439B94;
}

/* Media Queries */
/* Display on tablet devices */  

@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


}

/* Display on large devices */
@media screen 
  and (min-width: 1024px) {

    #adventure-header-img {
        width: 100%;
        height: 100vh;
    }

    .product-card-img {
        height: 45vh;
      }

    .products-heading {
        font-size: 2.3rem;
        margin-top: 5rem;
    }
}