/* Shop section */
#shop-header {
    background: url('/static/images/products/shop_header.jpg') no-repeat center;
    background-size: cover;
    min-height: 76vh;
}

.product-card-img {
    height: 35vh;
    object-fit: cover;
  }

.card-footer {
    border-top: 0;
}

#product-divider {
    background: #439B94;
    height: 0.1rem !important;
    border-radius: 100%;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fafafa !important;
}

/* Trail Running Holidays */

#holidays-header {
    background: url('/static/images/products/adventures_header.jpg') no-repeat center;
    background-size: cover;
    min-height: 76vh;
}