<form  class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
    {% csrf_token %}
    {% if item.product.is_holiday %}
    <p class="mt-3 small font-weight-bold">Number of participants:</p>
    
    <div class="input-group w-100">
        <input name="quantity" type="number" min="1" max="12" class="form-control form-control-sm"
             value="{{ item.number_of_runners }}" required>
    </div>
    <div class="d-none error-message">
        <p class= "mt-2 text-danger font-weight-bold small">
           <i class="fas fa-exclamation-circle"></i>&nbsp;Invalid field. Value must be in a range of 1 to 12. <br/> Please, check your input and try again.
        </p>
    </div>
    {% else %}
    <p class="mt-3 small font-weight-bold">Quantity:</p>
    
    <div class="input-group w-100">
        <div class="input-group-prepend">
            <button class="decrement-qty btn btn-sm button-green rounded-0" 
                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                <span>
                    <i class="fas fa-minus fa-sm"></i>
                </span>
            </button>
        </div>
        <input name="quantity" type="number" min="1" max="99" class="form-control form-control-sm qty_input py-3"
             value="{{ item.quantity }}"
             data-item_id="{{ item.item_id }}"
             id="id_qty_{{ item.item_id }}"  required>
        <div class="input-group-append">
            <button class="increment-qty btn btn-sm button-green rounded-0"
                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                <span>
                    <i class="fas fa-plus fa-sm"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="d-none error-message">
        <p class= "mt-2 text-danger font-weight-bold small">
            <i class="fas fa-exclamation-circle"></i>&nbsp;Invalid field. Value must be in a range of 1 to 99.<br/> Please, check your input and try again.
        </p>
    </div>
    {% endif %}
</form>
<!--Update / Remove button-->
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" 
    data-size="{{ item.size }}"><small>Remove</small></a>