<td colspan="5" class="text-end">
    <a href="{% url 'products' %}" class="btn adjust-button rounded-1 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    <a href="{% url 'checkout' %}" class="btn checkout-button rounded-1 btn-lg my-2">
        <span class="text-uppercase">Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>
</td>