<footer class="text-center text-lg-start text-white">
    <div class="container-fluid p-4 pb-0">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">TRΛIL RUN ΛDVENTURES</h5>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis unde est placeat itaque commodi natus ea repellendus saepe doloremque?
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                      <a href="{% url 'holidays' %}" class="text-white">TRAIL RUNNING HOLIDAYS</a>
                    </li>
                    <li>
                      <a href="{% url 'our_story' %}" class="text-white">ABOUT</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}" class="text-white">SHOP</a>
                    </li>
                    <li>
                    <a href="{% url 'basecampblog' %}" class="text-white">BLOG</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0 footer-contact">
                <h5 class="text-uppercase">contact</h5>
                <p class="footer-email">
                    <strong>Email:</strong>
                    <a href="mailto:trail.runadventures.info@gmail.com">
                        trail.runadventures.info@gmail.com
                    </a>
                </p>
                <p class="footer-phone">
                    <strong>Tel:</strong>
                    <a href="tel:+353875555222">
                        +353 (0) 875555222
                    </a>
                </p>
            </div>
        </div>
        <hr class="mb-4"/>
        <div class="social-media mb-4 text-center">
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-square fa-2x icon"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter-square fa-2x icon"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram-square fa-2x icon"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com" target="_blank">
                <i class="fab fa-youtube-square fa-2x icon"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com" target="_blank">
                <i class="fab fa-linkedin fa-2x icon"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/FruitbatM" target="_blank">
                <i class="fab fa-github-square fa-2x icon"></i>
            </a>
        </div>
    </div>
    <div class="text-center p-3" id="copyright">
        © 2021 Marina Pavlovic
    </div>
</footer>

