<nav class="navbar navbar-expand-lg navbar-light py-lg-0">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-controls="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link d-lg-none d-md-flex" href="{% url 'home' %}">
        <img src="{{ STATIC_URL }}images/logo_trail.png" alt="Website logo" id="brand-logo" loading="lazy">
    </a>
    <!-- Shopping Cart -->
    <a href="{% url 'view_cart' %}" class="{% if grand_total %}text-success-cart font-weight-bold{% else %}text-black{% endif %} 
        nav-link d-lg-none d-xl-none cart-link-mob">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
    </a>
    <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav mx-auto mr-2">
            <li class="nav-item active dropdown pe-5">
                <a class="nav-link dropdown-toggle {% if request.get_full_path == '/holidays/' %}active-nav-link{% endif %}" 
                    aria-current="page" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    TRAIL RUNNING HOLIDAYS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'holidays' %}1">TOUR DU MONT BLANC, FRANCE</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'holidays' %}2">AZORES, PORTUGAL</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'holidays' %}3">FAROE ISLANDS</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'holidays' %}4">ITALIAN DOLOMITES</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'holidays' %}5">JULIAN ALPS, SLOVENIA</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'holidays' %}6">EIGER, SWITZERLAND</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'holidays' %}">ALL HOLIDAYS</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown pe-5">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" 
                    data-bs-toggle="dropdown" aria-expanded="false">
                    ABOUT US
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'our_story' %}">OUR STORY</a></li>
                    <li><a class="dropdown-item" href="{% url 'our_team' %}">OUR TEAM</a></li>
                </ul>
            </li>
            <li class="nav-item pe-5">
                <a class="nav-link dropdown-toggle {% if request.get_full_path == '/products/' %}active-nav-link{% endif %}" 
                    href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    SHOP
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=shirts">SHIRTS</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=accessories">ACCESSORIES</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=drinkware">DRINKWARE</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}">ALL PRODUCTS</a></li>
                </ul>
            </li>
            <li class="nav-item pe-5">
                <a class="nav-link {% if request.get_full_path == '/basecampblog/' %}active-nav-link{% endif %}" 
                    href="{% url 'basecampblog' %}">
                    BLOG
                </a>
            </li>
            <li class="nav-item pe-5">
                <a class="nav-link {% if request.get_full_path == '/contact/' %}active-nav-link{% endif %}" 
                    href="{% url 'contact' %}">
                    CONTACT
                </a>
            </li>
            <hr class="d-lg-none">
            <!-- NAV account links -->
            <li class="top-nav-links d-lg-none">
                <ul class="navbar-nav mr-auto pl-0">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li>
                        <a class="dropdown-item nav-link" href="{% url 'add_product' %}">PRODUCT MANAGEMENT</a>
                    </li>
                    <li>
                        <a class="dropdown-item nav-link" href="{% url 'add_holiday' %}">HOLIDAY MANAGEMENT</a>
                    </li>
                    <li>
                        <a class="dropdown-item nav-link" href="{% url 'add_blog' %}">ADD NEW BLOG</a>
                    </li>
                    <li>
                        <div class="line d-lg-none"></div>
                    </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item nav-link" href="{url 'profile'}">MY PROFILE</a>
                    </li>
                    <li>
                        <a class="dropdown-item nav-link" href="{% url 'account_logout' %}">LOGOUT</a>
                    </li>
                {% else %}
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'account_signup' %}">REGISTER</a>
                </li>
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'account_login' %}">LOGIN</a>
                </li>
                {% endif %}
                </ul>
            </li>
            <li class="search-mob">
                <form method="GET" action="" class="search-input-mob">
                    <div class="input-group border-black">
                        <input class="form-control" type="text" name="q" placeholder="Search Products" maxlength="50">
                        <div class="input-group-button">
                            <button class="form-control" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</nav>