<div class="row bg-white">
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link">
            <img src="" alt="logo" id="logo">
        </a>
    </div>
</div>
<!-- Code resource with a modicfication: CI walkthrough project - Boutique Ado -->
<div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
    <!-- Search -->
    <div class="px-1py-1" id="search-form-container">
        <form  method="GET" action="">
            <div class="input-group">
                <input class="form-control" type="text" name="q" 
                        placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn button-black border-black rounded-right" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
        <li class="list-inline-item dropdown">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <i class="fas fa-user fa-lg"></i>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item nav-link">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item nav-link">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item nav-link">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item nav-link">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="list-inline-item">
            <a class="nav-link py-0 {% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}" 
                href="">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            $0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>