{% extends "base.html" %}
{% load static %}

{% block title %}| Blog{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block header_content %}
    <div id="blog-header">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 my-auto ms-4">
                    <h1 class="display-4 team-heading text-uppercase">
                        News from base camp
                    </h1>
                    <h4 class="team-sub-heading pt-4">
                        Adventure Blogs and updates from the trail
                        
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'blog/includes/blog_template.html' %}
{% endblock %}