{% extends "base.html" %}
{% load static %}

{% block title %}| Blog Post{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block header_content %}
    <div id="blog-post-header">
        <img src="{{ MEDIA_URL }}{{ post.header_image }}" id="blog-post-header-img" alt="{{ post.title }}">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 my-auto mx-auto">
                    <h1 class="display-4 blog-header-title text-uppercase">
                        {{ post.title }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 col-lg-10 offset-lg-1">
                    <h3 class="section-heading-2 text-uppercase text-center pt-2">
                        {{ post.title }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-4">
                <div class="offset-lg-1 col-lg-10 offset-lg-1">
                    <p class="font-italic lead">
                        {{ post.intro_paragraph_1 }}
                    </p>
                    <p class="font-italic lead">
                        {{ post.intro_paragraph_2 }}
                    </p>
                    <h6 class="blog-post-subheading section-heading-2 text-uppercase pb-3">
                        {{ post.subheading_1 }}
                    </h6>
                    <p class="font-italic lead">
                        {{ post.blog_content_1 }}
                    </p>
                    <h6 class="blog-post-subheading section-heading-2 text-uppercase pb-3">
                        {{ blog.subheading_2 }}
                    </h6>
                    <p class="font-italic lead">
                        {{ post.blog_content_2 }}
                    </p>
                    <p class="font-italic lead">
                        {{ post.blog_content_3 }}
                    </p>
                    <div class="blog-post-image text-center">
                        <img src="{{ MEDIA_URL }}{{ post.blog_image_1 }}" class="img-fluid" alt="{{ post.title }}">
                    </div>
                    <h6 class="blog-post-subheading section-heading-2 text-uppercase pb-3">
                        {{ post.subheading_3 }}
                    </h6>
                    <p class="font-italic lead">
                        {{ post.blog_content_4 }}
                    </p>
                    <p class="font-italic lead">
                        {{ post.blog_content_5 }}
                    </p>
                    <p class="font-italic lead">
                        {{ post.blog_content_6 }}
                    </p>
                    <div class="blog-post-image text-center">
                        <img src="{{ MEDIA_URL }}{{ post.blog_image_2 }}" class="img-fluid" alt="{{ post.title }}">
                    </div>
                    <h6 class="blog-post-subheading section-heading-2 text-uppercase pb-3">
                        {{ post.subheading_4 }}
                    </h6>
                    <p class="font-italic lead pb-5">
                        {{ post.blog_content_7 }}
                    </p>
                </div>
            </div>
        </div>
        <!-- Comments -->
        <div class="container">
            <div class="row">
                <hr>
                {% include 'blog/includes/blog_comment.html' %}
            </div>
        </div>
    </section>

{% endblock %}