<!-- Book Modal -->
<div class="modal fade" id="bookModal{{ holiday.id }}" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel-{{ holiday.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column position-relative text-uppercase">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h2 class="modal-title" id="bookModalLabel-{{ holiday.id }}">{{ holiday.name }}</h2>
                <h5 class="text-muted">{{ holiday.start_date }} - {{ holiday.end_date }}</h5>
            </div>
            <div class="modal-body ps-5">
                {% include 'products/includes_holidays/holiday_form.html' %}
            </div>
        </div>
    </div>
</div>