{% if itinerary_day %}
    <div class="col-md-6 offset-md-3">
        <h2 class=" holiday-heading text-uppercase text-center mt-5">Itinerary</h2>
        <p>Click on each day to explore in more detail.</p>
    </div>
        <div class="col-md-6 offset-md-3 pt-3">
            {% for day in itinerary_day %}
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 1: {{ day.day_1 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_1_overview }}</p>
                        <i class="fas fa-bed"></i>
                        <p class="itinerary-day-overview">{{ day.day_1_hotel }}</p>
                        <i class="fas fa-utensils"></i>
                        <p class="itinerary-day-overview">{{ day.day_1_meal }}</p>
                        <i class="fas fa-running"></i>
                        <p class="itinerary-day-overview">{{day.day_1_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 2: {{ day.day_2 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_2_overview }}</p>
                        <i class="fas fa-bed"></i>
                        <p class="itinerary-day-overview">{{ day.day_2_hotel }}</p>
                        <i class="fas fa-utensils"></i>
                        <p class="itinerary-day-overview">{{ day.day_2_meal }}</p>
                        <i class="fas fa-running"></i>
                        <p class="itinerary-day-overview">{{day.day_2_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 3: {{ day.day_3 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_3_overview }}</p>
                        <i class="fas fa-bed"></i>
                        <p class="itinerary-day-overview">{{ day.day_3_hotel }}</p>
                        <i class="fas fa-utensils"></i>
                        <p class="itinerary-day-overview">{{ day.day_3_meal }}</p>
                        <i class="fas fa-running"></i>
                        <p class="itinerary-day-overview">{{day.day_3_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 4: {{ day.day_4 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_4_overview }}</p>
                        <i class="fas fa-bed"></i>
                        <p class="itinerary-day-overview">{{ day.day_4_hotel }}</p>
                        <i class="fas fa-utensils"></i>
                        <p class="itinerary-day-overview">{{ day.day_4_meal }}</p>
                        <i class="fas fa-running"></i>
                        <p class="itinerary-day-overview">{{day.day_4_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 5: {{ day.day_5 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_5_overview }}</p>
                        <i class="fas fa-bed"></i>
                        <p class="itinerary-day-overview">{{ day.day_5_hotel }}</p>
                        <i class="fas fa-utensils"></i>
                        <p class="itinerary-day-overview">{{ day.day_5_meal }}</p>
                        <i class="fas fa-running"></i>
                        <p class="itinerary-day-overview">{{day.day_5_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 6: {{ day.day_6 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_6_overview }}</p>
                        <i class="fas fa-bed"></i>
                        <p class="itinerary-day-overview">{{ day.day_6_hotel }}</p>
                        <i class="fas fa-utensils"></i>
                        <p class="itinerary-day-overview">{{ day.day_6_meal }}</p>
                        <i class="fas fa-running"></i>
                        <p class="itinerary-day-overview">{{day.day_6_data}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endif %}
<hr class="mt-4">
<div class="row">
    <div class="col-12">
        <h5 class="text-center mt-4">Interested to have more detail on this trip?</h5>
    </div>
    <div>
        <button class="btn btn-large btn-success text-uppercase my-5">Request more info</button>
    </div>
</div>
<div class="row mx-auto">
    <div class="col-md-6 col-sm-12 my-5">
        <img src="{{ MEDIA_URL }}{{holiday.image_2}}" class="img-fluid" alt="{{ holiday.name }}">
    </div>
    <div class="col-md-6 col-sm-12 my-5">
        <img src="{{ MEDIA_URL }}{{holiday.image_3}}" class="img-fluid" alt="{{ holiday.name }}">
    </div>
</div>
{% block postloadjs %}
    <script type="text/javascript">
        $('.itinerary-day').click(function () {
            $('.itinerary-hidden').slideToggle({
            direction: "up"
            }, 300);
            $(this).toggleClass('clientsClose');
        }); // end click
    </script>
{% endblock %}