<div class="wrapper">
    <div id="product-container">
        <div class="top">
            <a href="{% url 'holiday_detail' holiday.id %}">
                <img src="{{ MEDIA_URL }}{{holiday.image_2}}" alt="{{ holiday.name }}" class="img-fluid">
            </a>
        </div>
        <div class="bottom">
            <div class="left">
                <div class="details pb-2">
                <h5 class="text-uppercase pb-2" id="holiday-card-name">{{ holiday.name }}</h5>
                <p id="holiday-duration" class="text-uppercase">{{ holiday.duration }} nights</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inside">
        <div class="icon">
        <i class="fas fa-info-circle"></i>
    </div>
        <div class="contents text-white">
            <p class="ps-2 pe-2 holiday-date">
                Date: {{ holiday.start_date }} - {{ holiday.end_date }}
            </p>
            <p class="ps-2 pe-2">
                Total distance: <span>{{ holiday.distance }} km</span>
            </p>
            <p class="ps-2 pe-2">
                Difficulty level: <span>{{ holiday.level|upper }}</span>
            </p>
            <p class="ps-2 pe-2">
                Price: € {{ holiday.price }} per person
            </p>
        </div>
    </div>
</div>