<div class="card tour-card text-center">
    <a href="{% url 'holiday_detail' holiday.id %}">
        <img src="{{ MEDIA_URL }}{{holiday.image_2}}" alt="{{ holiday.name }}" class="img-fluid">
    </a>
    <div class="card-content">
        <div class="card-title text-uppercase">
            {{ holiday.name }}
        </div>
        <div class="card-description">
            {{ holiday.header_paragraph|truncatechars:95}}
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'holiday_detail' holiday.id %}" class="btn btn-sm justify-content-center card-button">
                    EXPLORE
                </a>
            </div>
        </div>
    </div>
</div>