{% if itinerary_day %}
    <div class="col-md-6 offset-md-3">
        <h2 class=" holiday-heading text-uppercase text-center mt-5">Itinerary</h2>
        <p>Click on each day to explore in more detail.</p>
    </div>
        <div class="col-md-6 offset-md-3 pt-3">
            {% for day in itinerary_day %}
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 1: {{ day.day_1 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_1_overview }}</p>
                        <p class="itinerary-day-overview">{{day.day_1_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 2: {{ day.day_2 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_2_overview }}</p>
                        <p class="itinerary-day-overview">{{day.day_2_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 3: {{ day.day_3 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_3_overview }}</p>
                        <p class="itinerary-day-overview">{{day.day_3_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 4: {{ day.day_4 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_4_overview }}</p>
                        <p class="itinerary-day-overview">{{day.day_4_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 5: {{ day.day_5 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_5_overview }}</p>
                        <p class="itinerary-day-overview">{{day.day_5_data}}</p>
                    </div>
                </div>
                <div class="itinerary-block text-start">
                    <div class="itinerary-day">
                        <p class="text-uppercase">
                            <strong>+ day 6: {{ day.day_6 }}</strong>
                        </p>
                    </div>
                    <div class="itinerary-hidden">
                        <p class="itinerary-day-overview">{{ day.day_6_overview }}</p>
                        <p class="itinerary-day-overview">{{day.day_6_data}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endif %}

{% block postloadjs %}
    <script type="text/javascript">
        $('.itinerary-day').click(function () {
            $('.itinerary-hidden').slideToggle({
            direction: "up"
            }, 300);
            $(this).toggleClass('clientsClose');
        }); // end click
    </script>
{% endblock %}