<div class="wrapper">
    <div id="product-container">
        <div class="top">
            <a href="{% url 'holiday_detail' holiday.id %}">
                <img src="{{ MEDIA_URL }}{{holiday.image_2}}" alt="{{ holiday.name }}" class="img-fluid">
            </a>
        </div>
        <div class="bottom">
            <div class="left">
                <div class="details pb-2">
                <h5 class="text-uppercase pb-2" id="holiday-card-name">{{ holiday.name }}</h5>
                <p id="holiday-duration" class="text-uppercase">{{ holiday.duration }} nights</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inside">
        <div class="icon">
        <i class="fas fa-info-circle"></i>
    </div>
        <div class="contents text-white">
            <p class="ps-2 pe-2 holiday-date">
                Date: {{ holiday.start_date }} - {{ holiday.end_date }}
            </p>
            <p class="ps-2 pe-2">
                Total distance: <span>{{ holiday.distance }} km</span>
            </p>
            <p class="ps-2 pe-2">
                Difficulty level: <span>{{ holiday.level|upper }}</span>
            </p>
            <p class="ps-2 pe-2">
                Price: € {{ holiday.price }} per person
            </p>
        </div>
    </div>
</div>
{% if request.user.is_superuser %}
    <small class="ms-3">
        <a href="{% url 'edit_holiday' holiday.id %}">Edit</a> |
        <!-- Delete Modal Button -->
        <button type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#deleteModal{{ holiday.id }}">
            <span class="text-danger">Delete</span>
        </button>
    </small>
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal{{ holiday.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="deleteModalLabel-{{holiday.id }}">You are about to delete a holiday</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <i class="far fa-trash-alt fa-2x icon text-danger mb-2"></i>
                    <h5 class="pb-2">Are you sure you want to delete</h5>
                    <h5 class="text-danger">{{ holiday.name }}?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_holiday' holiday.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}