{% extends "base.html" %}
{% load static %}

{% block title %}| Our Story{% endblock %}

{% block header_content %}
    <div id="team-header_1">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 my-auto">
                    <h1 class="display-4 team-heading text-uppercase">
                        Our story
                    </h1>
                    <h4 class="team-sub-heading pt-4">
                        Find out more about TRΛIL RUN ΛDVENTURES & the reasons 
                        <br> 
                        to run with us.
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'about/includes/story_1.html' %}
    {% include 'about/includes/story_2.html' %}
{% endblock %}