{% extends "base.html" %}
{% load static %}

{% block title %}| Contact{% endblock %}

{% block header_content %}
    <div id="contact-header">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 my-auto">
                    <h1 class="display-4 team-heading text-uppercase">
                        Contact Us
                    </h1>
                    <h4 class="team-sub-heading pt-4">
                        Get in touch with us for a chat and to get your running
                        <br> 
                        adventure started
                    </h4>
                </div>
            </div>
        </div>
    </div>


{% block content %}
<!-- Contact form  -->
    <div class="container mt-2" data-aos="zoom-in-down">
        <div class="row">
            <div class="col-12">
                <h3 class="section-heading-2 text-uppercase text-center mb-5">
                    Get in Touch
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'contact/includes/contact-form.html' %}
        </div>
    </div>
{% endblock %}