<!-- Running Experinces Cards -->
<div class="card tour-card text-center">
    <img src="{{ MEDIA_URL }}card_1.jpg" alt="Faroe Islands" class="img-fluid">
    <div class="card-content">
        <div class="card-title">
            FAROE ISLANDS
        </div>
        <div class="card-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quaerat ex magni modi aperiam consequatur quibusdam 
        </div>
        <div class="row">
            <div class="col-12">
                <a href="" class="btn btn-sm justify-content-center card-button">
                    EXPLORE
                </a>
            </div>
        </div>
    </div>
</div>