<div class="card tour-card text-center">
    <img src="{{ MEDIA_URL }}card_2.jpg" alt="Julian Alps" class="img img-responsive">
    <div class="card-content">
        <div class="card-title">
            JULIAN ALPS
        </div>
        <div class="card-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quaerat ex magni modi aperiam consequatur quibusdam 
        </div>
        <div class="row">
            <div class="col-12">
                <a href="" class="btn btn-sm justify-content-center card-button">
                    EXPLORE
                </a>
            </div>
        </div>
    </div>
</div>