<!-- About section -->
<div class="container text-center" id="landing-about" data-aos="zoom-in-down">
    <div class="row">
        <h3 class="section-heading-1">
            JOIN LIKE-MINDED PEOPLE ON SMALL GROUP RUNNING <br>
            EXPERIENCES TO EXTRAORDINARY PLACES
        </h3>
        <div class="row">
            <div class="text-center col-md-8 offset-md-2 col-sm-6 offset-sm-3 mt-5 trail-p">
                <p class="font-italic lead">
                    <strong>TRΛIL RUN ΛDVENTURES</strong> offers three styles of running experiences 
                    varying in length and accessibility. All of our trips are designed 
                    to uncover authentic travel experiences; 
                    from the remote trails of Julian Apls to local trails in Chamonix.  
                    These are not races, but journeys with flexible daily 
                    distances moulded around cultural wonder.
                </p>
            </div>
            <div class="pt-5">
                <a href="{% url 'our_story' %}" class="btn btn-lg justify-content-center section-button">
                    FIND OUT MORE
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page-background" data-aos="zoom-in-down">
    <div class="row">
        <div class="col mb-5"></div>
    </div>
</div>