<!--  Shop cateogories section -->
<section>
    <div class="container">
        <h2 class="section-heading-2">SHOP</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="category-card float-lg-left">
                    <div class="category-card-img">
                        <img src="{{ MEDIA_URL }}product_1.png" alt="T-Shirt Image">
                    </div>
                    <div class="d-flex justify-content-center category-card-btn">
                        <a href="" class="btn btn-outline-success">T-Shirts</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="category-card float-lg-left">
                    <div class="category-card-img">
                        <img src="{{ MEDIA_URL }}product_2.png" alt="Sweatshirt Image">
                    </div>
                    <div class="d-flex justify-content-center category-card-btn">
                        <a href="" class="btn btn-outline-success">T-Shirts</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="category-card float-lg-left">
                    <div class="category-card-img">
                        <img src="" alt="T-Shirt Image">
                    </div>
                    <div class="d-flex justify-content-center category-card-btn">
                        <a href="" class="btn btn-outline-success">T-Shirts</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="shop-all-button mt-5">
                <a href="" class="btn btn-outline-success tetext-uppercase">Shop all</a>
            </div>
        </div>
    </div>
</section>