<!-- Benefits section -->
<div class="container mt-5">
    <div class="row text-center">
        <div class="col mt-1 mb-4">
            <h2 class="section-heading-2 pb-3">WHY TRΛIL RUN ΛDVENTURES?</h2>
            <h4 class="section-sub-heading-2 pb-3">JUST SOME OF THE REASONS WHICH MAKE US BETTER</h4>
        </div>

    </div>
</div>
<div class="container">
    <div class="row text-center align-middle">
        <div class="col-md-4">
            <div class=" card benefit-card">
                <img src="{{ MEDIA_URL }}card_1.jpg" alt="" class="card-img img-responsive">
                <div class="card-img-overlay">
                    <h5 class="card-title benefit-title">UNIQUE & AMAZING</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" card benefit-card">
                <img src="" alt="" class="card-img img-responsive">
                <div class="card-img-overlay">
                    <h5 class="card-title benefit-title align-bottom">BOOK IN CONFIDENCE</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" card benefit-card">
                <img src="" alt="" class="card-img img-responsive">
                <div class="card-img-overlay">
                    <h5 class="card-title benefit-title align-bottom">FOR ALL ABILITIES</h5>
                </div>
            </div>
        </div>
    </div>
</div>