<!-- Blog section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mt-1 mb-5">
            <h2 class="section-heading-2">NEWS FROM BASECAMP</h2>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-6">
            <article class="blog-post">
                <figure class="blog">
                    <div class="blog-overlay">
                        <a href="">
                            <img src="{{ MEDIA_URL }}blog_1.jpg" alt="blog image">
                        </a>
                    </div>
                </figure>
                <div class="blog-content">
                    <div class="blog-header">
                        <h3 class="blog-title">
                            <a href="">Test Blog</a>
                        </h3>
                        <div class="blog-meta">
                            <div class="blog-date">07/09/2021</div>
                            <div class="blog-author">Author</div>
                        </div>
                    </div>
                    <div class="blog-overview">
                        <p>We look at the top five places in Europe to trail run</p>
                    </div>
                    <div class="blog-footer">
                        <div class="row">
                            <div class="col-6 text-left" id="footer-link">
                                <a href="#" class="more-link">Read More</a>
                            </div>
                            <div class="col-6 text-right footer-meta">
                                <a href="" class="blog-comment">
                                    <i class="fas fa-comment-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="col-md-6">
                <article class="blog-post">
                    <figure class="blog">
                        <div class="blog-overlay">
                            <a href="">
                                <img src="{{ MEDIA_URL }}blog_1.jpg" alt="blog image">
                            </a>
                        </div>
                    </figure>
                    <div class="blog-content">
                        <div class="blog-header">
                            <h3 class="blog-title">
                                <a href="">Test Blog</a>
                            </h3>
                            <div class="blog-meta">
                                <div class="blog-date">07/09/2021</div>
                                <div class="blog-author">Author</div>
                            </div>
                        </div>
                        <div class="blog-overview">
                            <p>We look at the top five places in Europe to trail run</p>
                        </div>
                        <div class="blog-footer">
                            <div class="row">
                                <div class="col-6 text-left" id="footer-link">
                                    <a href="#" class="more-link">Read More</a>
                                </div>
                                <div class="col-6 text-right footer-meta">
                                    <a href="" class="blog-comment">
                                        <i class="fas fa-comment-alt" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div> 
    </div>
</div>