<!--  Shop categories section -->
<section class="bg-light pb-5">
    <div class="container">
        <div class="row">
            <div class="col mt-1 mb-4 ms-4" data-aos="zoom-in-down">
                <h2 class="section-heading-2">SHOP</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            {% for product in shop_home %}
                <div class="col-md-4" class="shop-column">
                    <div class="card zoom-effect h-100 border-success" data-aos="zoom-in-down">
                        <div class="category-card-img img-fluid d-flex text-center mt-auto mb-auto text-uppercase">
                            <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.category.name }}">
                        </div>
                        <div class="card-img-overlay d-flex justify-content-center">
                            <a href="{% url 'products' %}?category={{ product.category.name }}" class="card-link"></a>
                        </div>
                        <div class="category-card-button d-flex justify-content-center text-uppercase my-3">
                            <a href="{% url 'products' %}?category={{ product.category.name }}" class="btn btn-success">{{ product.category.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row text-center">
            <div class="shop-all-button mt-5">
                <a href="{% url 'products' %}" class="btn section-button text-uppercase">Shop all</a>
            </div>
        </div>
    </div>
</section>