<!-- Trail Runing Holiday section -->
<section class="mb-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col mt-1 mb-4 ms-4">
                <h2 class="section-heading-2">TRAIL RUNNING EXPERIENCES</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="experiences-card">
                    {% include 'home/includes/experiences_card_1.html' %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="experiences-card">
                    {% include 'home/includes/experiences_card_2.html' %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="experiences-card">
                    {% include 'home/includes/experiences_card_3.html' %}
                </div>
            </div>
        </div>
        <div class="row text-center mt-5">
            <div class="col-12">
                <a class="btn btn-md justify-content-center section-button" href="{% url 'holidays' %}" role="button">
                    EXPLORE MORE
                </a>
            </div>
        </div>
    </div>
</section>
