    <!-- section tag continues from home_content_5.html -->
    <!-- Quotes section -->
    <div class="container quote-section pb-5" data-aos="zoom-in-down">
        <div class="row">
            <div class="offset-lg-1 col-lg-10 offset-lg-1">
                <div class="p-2">
                    <!-- Bootstrap carousel-->
                    <div id="quote-carousel" class="carousel slide" data-bs-ride="carousel">
                        <!-- Bootstrap inner slides-->
                        <div class="carousel-inner px-5">
                            <!-- Quote 1-->
                            <div class="carousel-item active p-4" data-bs-interval="4000">
                                <div class="row py-1">
                                    <blockquote class="blockquote text-center border-0 p-0">
                                        <p class="font-italic lead">
                                            <i class="fa fa-quote-left mr-3 text-success"></i>
                                            Travelling with TRΛIL RUN ΛDVENTURES was extraordinary. Breathtaking. I combined beautiful trail running with seeing a destination I’d always wanted to visit. Travelling in the company of experts who became friends.
                                        </p>
                                        <div class="blockquote-footer">
                                            <cite title="Source Title">Chris H., UK</cite>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <!-- Quote 2-->
                            <div class="carousel-item p-4" data-bs-interval="4000">
                                <div class="row">
                                    <blockquote class="blockquote text-center border-0 p-0">
                                        <p class="font-italic lead">
                                            <i class="fa fa-quote-left mr-3 text-success"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="blockquote-footer">
                                            <cite title="Source Title">Maggie F., USA</cite>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <!-- Quote 3 -->
                            <div class="carousel-item p-4" data-bs-interval="4000">
                                <div class="row">
                                    <blockquote class="blockquote text-center border-0 p-0">
                                        <p class="font-italic lead">
                                            <i class="fa fa-quote-left mr-3 text-success"></i>
                                            Fabulous experience. Very well organized trail running adventure with great team leader. Great food and acoommodation.
                                        </p>
                                        <div class="blockquote-footer">
                                            <cite title="Source Title">Francis C., UK</cite>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <!-- Carousel buttons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#quote-carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#quote-carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>