<!--  Shop categories section -->
<section class="bg-light pb-5">
    <div class="container">
        <div class="row">
            <div class="col mt-1 mb-4 ms-4">
                <h2 class="section-heading-2">SHOP</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card card-body h-100 border-success">
                    <div class="category-card-img d-flex text-center mt-auto mb-auto">
                        <img src="{{ MEDIA_URL }}product_1.png" alt="Shirt Image">
                    </div>
                    <div class="card-img-overlay d-flex justify-content-center">
                        <a href="#" class="card-link"></a>
                    </div>
                    <div class="category-card-button d-flex justify-content-center my-3">
                        <a href="" class="btn btn-success">SHIRTS</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card card-body h-100 border-success">
                    <div class="category-card-img d-flex text-center mt-auto mb-auto">
                        <img src="{{ MEDIA_URL }}product_3.png" alt="Cap Image">
                    </div>
                    <div class="card-img-overlay d-flex">
                        <a href="#" class="card-link"></a>
                    </div>
                    <div class="category-card-button d-flex justify-content-center my-3">
                        <a href="" class="btn btn-success">ACCESSORIZE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card card-body h-100 border-success">
                    <div class="category-card-img d-flex text-center mt-auto mb-auto">
                        <img src="{{ MEDIA_URL }}product_4.jpg" alt="Cup Image">
                    </div>
                    <div class="card-img-overlay d-flex justify-content-end">
                        <a href="#" class="card-link"></a>
                    </div>
                    <div class="category-card-button d-flex justify-content-center my-3">
                        <a href="" class="btn btn-success">DRINKWARE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="shop-all-button mt-5">
                <a href="{% url 'products' %}" class="btn btn-success text-uppercase">Shop all</a>
            </div>
        </div>
    </div>
</section>