<!-- Benefits section -->
<div class="container mt-5">
    <div class="row text-center">
        <div class="col mt-1 mb-4">
            <h2 class="section-heading-2 pb-3">WHY TRΛIL RUN ΛDVENTURES?</h2>
            <h4 class="section-sub-heading-2 pb-3">JUST SOME OF THE REASONS WHICH MAKE US BETTER</h4>
        </div>

    </div>
</div>
<div class="container">
    <div class="row text-center align-middle">
        <div class="col-md-4 grid">
            <div class="card benefit-card">
                <img src="static/images/card_home_1.jpg" alt="Canyon with mountain in the background" class="card-img img-fluid">
                <div class="card-img-overlay">
                    <h3 class="card-title benefit-title">UNIQUE & AMAZING</h3>
                    <p>Trail experiences all over Europe</p>
                    <a href="#"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 grid">
            <div class="card benefit-card">
                <img src="static/images/card_home_2.jpg" alt="Friends looking the sunset" class="card-img img-fluid">
                <div class="card-img-overlay">
                    <h3 class="card-title benefit-title">BOOK IN CONFIDENCE</h3>
                    <p>100% financial protection</p>
                    <a href="#"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 grid">
            <div class="card benefit-card">
                <img src="static/images/card_home_3.jpg" alt="Trail runners" class="card-img img-fluid">
                <div class="card-img-overlay">
                    <h3 class="card-title benefit-title">FOR ALL ABILITIES</h3>
                    <p>Running experiences for everybody</p>
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </div>
</div>