<!-- Team Bios -->
<div class="container">
    <div class="row">
        <div class="col-12">
            {% for instructor in instructors %}
                <div class="card text-black instructor-image-block mx-auto">
                    <img src="{{ MEDIA_URL }}{{ instructor.image }}" class="card-img" alt="Instructor image">
                        <div class="card-img-overlay">
                            <h3 class="card-title instructor-name">{{ instructor.name }}</h3>
                            <h5 class="card-text instructor-title text-uppercase">{{ instructor.title }}</h5>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>