<!-- Team Bios -->
<div class="container">
    <div class="row">
        <div class="col-12">
            {% for instructor in instructors %}
                <div class="card text-black instructor-image-block mx-auto text-center" data-aos="zoom-in-down">
                    <img src="{{ MEDIA_URL }}{{ instructor.image }}" class="card-img" alt="Instructor image">
                        <div class="card-img-overlay-team align-items-center">
                            <h3 class="instructor-name pt-3">
                                {{ instructor.name }}
                            </h3>
                            <h5 class="instructor-title text-uppercase">
                                {{ instructor.title }}
                            </h5>
                            <button class="btn btn-success instructor-card-button justify-content-center my-3" 
                                type="button" data-bs-toggle="collapse" data-bs-target="#bioButton-{{ forloop.counter }}"
                                aria-expanded="false" aria-controls="bioButton-{{ forloop.counter }}">
                                CLICK FOR BIO
                            </button>
                        </div>
                        <div class="collapse" id="bioButton-{{ forloop.counter }}">
                            <div class="text-start px-3">
                                <br>
                                <p>
                                    {{ instructor.about_content_1 }}
                                </p>
                                <p>
                                    {{ instructor.about_content_2}}
                                </p>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row m-5">

    </div>
</div>
