<!-- Team Bios -->
<div class="container">
    <div class="row">
        <div class="col-12">
            {% for instructor in instructors %}
                <div class="card text-white instructor-image-block mx-auto">
                    <img src="{{ MEDIA_URL }}instructors/allison.jpg" class="card-img" alt="Allison guide and co-founder">
                        <div class="card-img-overlay">
                            <h5 class="card-title instructor-name">{{ instructor.name }}</h5>
                            <p class="card-text instructor-title">{{ instructor.title }}</p>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>