<!-- Our Story -->
<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <h3 class="section-heading-2 text-uppercase text-center mb-4">
                Why run with us?
            </h3>
        </div>
    </div>
</div>
<div class="container mt-3 pt-5 pb-5">
    <div class="row mt-3">
        <div class="col-md-6 font-italic mx-auto">
            <h4>We are a team of passionate & experienced trail runners.</h4>
            <br>
            <p>
                <strong>TRΛIL RUN ΛDVENTURES</strong> has been forged together from love and desire to explore 
                magnificent places whilst keeping fit and achieving something special along the way. 
            </p>
            <p>
                The whole team behind <strong>TRΛIL RUN ΛDVENTURES</strong> have many years experience in trail 
                running and the adventure travel industry. We’ve run and explored everything from 5km to 
                100mile endurance feats. 
            </p>
            <p>
                We’ve been incredibly lucky to explore the lengths and breadths of the world through our work, 
                but our combined experience puts us in the best stead to share our running adventures with you, 
                whatever your running ability. 
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img class="img-fluid story-image" src="/static/images/about/our_story_1.jpg" alt="Men stretching and looking into the sea">
        </div>
    </div>
</div>
<section class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <img class="img-fluid" src="/static/images/about/our_story_2.jpg" alt="">
            </div>
            <div class="col-md-6 font-italic">
                <h4>Running adventures designed for people of all abilities.</h4>
                <br>
                <p>
                    All of our trips are designed to uncover authentic travel experiences, with great care
                    and attention taken at every step of the way. These are not races, but journeys which are
                    suitable for people of all running abilities, with flexible daily distances moulded around 
                    cultural wonder. It’s about peeling back the skin of a destination to get to know it better.
                </p>
                <p>
                    The whole team behind <strong>TRΛIL RUN ΛDVENTURES</strong> have many years experience in trail 
                    running and the adventure travel industry. We’ve run and explored everything from 5km to 
                    100mile endurance feats. 
                </p>
            </div>
        </div>
    </div>
</section>
<div class="container pt-5 pb-5">
    <div class="row mt-3">
        <div class="col-md-6 font-italic mx-auto">
            <h4>Value for money.</h4>
            <br>
            <p>
                Maximum experience and trip enjoyment is at the forefront of what we do. We take care of 
                just about everything on all of our trips which means you can focus on enjoying running 
                spectacular trails safe in the knowledge that all the logistical details are arranged, you 
                have a beautiful hotel to stay in that night and that Pure Trails Adventure have given good 
                value for money.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img class="img-fluid" src="/static/images/about/our_story_3.jpg" alt="">
        </div>
    </div>
</div>
<section class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <img class="img-fluid" src="/static/images/about/our_story_4.jpg" alt="">
            </div>
            <div class="col-md-6 font-italic">
                <h4>Welcome to our community.</h4>
                <br>
                <p>
                    We aim to deliver the most fulfilling trips that give you the experience of a lifetime; 
                    whether that be to immerse yourself in the local surroundings or to achieve a life ambition. 
                    We are here for you every step of the way.
                </p>
                <p>
                    Unlike other travel companies, we are individuals behind the business. People just like 
                    you - we love to run and travel, and love to chat about about running and travel when we are 
                    not traveling. 
                </p>
                <p>
                    That means we are flexible to you, outside of the 9-5 and on all platforms. If we can 
                    inspire you and help you on your way then we are achieving what we set out to do. 
                </p>
            </div>
        </div>
    </div>
</section>
