{% extends "base.html"%}
{% load static %}
{% load bag_tools %}
{% block extra_title %}| Add Holiday Tour{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center mt-2">
            <div class="col-12">
                <h3 class="text-uppercase mt-5 mb-5">Holiday Management</h3>
                <h4 class="text-muted">Add a Holiday Tour</h4>
                <hr>
            </div>
        </div>
        <div class="row mt-4"></div>
        <!-- Add Product -->
        <div class="offset-lg-2 col-lg-8 offset-lg-2 col-md-10 offset-md-2 mb-3 px-2">
            <form method="POST" action="{% url 'add_holiday' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ holiday_form.name | as_crispy_field }}
                {{ holiday_form.holiday_header_image | as_crispy_field }}
                {{ holiday_form.header_paragraph | as_crispy_field }}
                {{ holiday_form.price | as_crispy_field }}
                {{ holiday_form.duration| as_crispy_field }}
                {{ holiday_form.distance | as_crispy_field }}
                {{ holiday_form.level | as_crispy_field }}
                {{ holiday_form.start_date | as_crispy_field }}
                {{ holiday_form.end_date | as_crispy_field }}
                {{ holiday_form.overview_paragraph_1 | as_crispy_field }}
                {{ holiday_form.running_days | as_crispy_field }}
                {{ holiday_form.image_1 | as_crispy_field }}
                {{ holiday_form.image_2 | as_crispy_field }}
                
                <!-- Itinerary -->
                <div class="div">
                    <h5 class="text-uppercase py-2">Itinerary</h5>
                </div>
                <div class="div">
                    {% csrf_token %}
                    {{ itinerary_form.day_1 | as_crispy_field }}
                    {{ itinerary_form.day_1_meal | as_crispy_field }}
                    {{ itinerary_form.day_1_overview | as_crispy_field }}
                    {{ itinerary_form.day_1_hotel | as_crispy_field }}
                    {{ itinerary_form.day_1_data | as_crispy_field }}
                    {{ itinerary_form.day_2 | as_crispy_field }}
                    {{ itinerary_form.day_2_meal | as_crispy_field }}
                    {{ itinerary_form.day_2_overview | as_crispy_field }}
                    {{ itinerary_form.day_2_hotel | as_crispy_field }}
                    {{ itinerary_form.day_2_data | as_crispy_field }}
                    {{ itinerary_form.day_3 | as_crispy_field }}
                    {{ itinerary_form.day_3_meal | as_crispy_field }}
                    {{ itinerary_form.day_3_overview | as_crispy_field }}
                    {{ itinerary_form.day_3_hotel | as_crispy_field }}
                    {{ itinerary_form.day_3_data | as_crispy_field }}
                    {{ itinerary_form.day_4 | as_crispy_field }}
                    {{ itinerary_form.day_4_meal | as_crispy_field }}
                    {{ itinerary_form.day_4_overview | as_crispy_field }}
                    {{ itinerary_form.day_4_hotel | as_crispy_field }}
                    {{ itinerary_form.day_4_data | as_crispy_field }}
                    {{ itinerary_form.day_5 | as_crispy_field }}
                    {{ itinerary_form.day_5_meal | as_crispy_field }}
                    {{ itinerary_form.day_5_overview | as_crispy_field }}
                    {{ itinerary_form.day_5_hotel | as_crispy_field }}
                    {{ itinerary_form.day_5_data | as_crispy_field }}
                </div>
                <div class="text-start mt-4">
                    <a class="btn adjust-button rounded-1" href="{% url 'holidays' %}">Cancel</a>
                    <button class="btn checkout-button rounded-1" type="submit">Add Holiday</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            let file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}