{% extends "base.html" %}
{% load static %}

{% block title %}| Products{% endblock %}

{% block header_content %}
<div id="shop-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 my-auto mx-auto">
                <h1 class="display-4 team-heading text-uppercase">
                    Shop
                </h1>
                <h4 class="team-sub-heading pt-4">
                    We are pleased to offer for sale our favorite TRΛIL RUN ΛDVENTURES <br>
                    branded trail running products online
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {{ products }}
{% endblock %}