{% extends "base.html" %}
{% load static %}

{% block title %}| Shop{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block header_content %}
    <div id="shop-header">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 my-auto mx-auto">
                    <h1 class="display-4 team-heading text-uppercase">
                        Shop
                    </h1>
                    <h4 class="team-sub-heading pt-4">
                        We are pleased to offer for sale our favorite TRΛIL RUN ΛDVENTURES <br>
                        branded trail running products online
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-2 mb-5">
        <div class="row">
            <div class="col-12">
                <h3 class="section-heading-2 text-uppercase text-center mb-4">
                    All Products
                </h3>
            </div>
        </div>
    </div>

    {% include 'products/includes_products/product_card.html' %}

{% endblock %}