{% extends "base.html" %}
{% load static %}

{% block title %}| Trail Runing Holidays{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block header_content %}
    <div id="holidays-header">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 my-auto mx-auto">
                    <h1 class="display-4 team-heading text-uppercase">
                        Trail Running Holidays
                    </h1>
                    <h4 class="team-sub-heading pt-4">
                        Join a running experience to the Europe's most extraordinary trails.
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Trail Runing Holidays -->
<section class="mb-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col mt-1 mb-4 ms-4">
                <h2 class="section-heading-2 text-center">TRAIL RUNNING EXPERIENCES</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for holiday in holidays %}
                <div class="col-md-4">
                    {% include 'products/includes_holidays/holiday_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{% endblock %}