{% extends "base.html" %}
{% load static %}

{% block title %}| Trail Runing Holiday Details{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block header_content %}
    <div id="holidays-header">
        {{ product.holiday_header_image }}
        <div class="container">
            <div class="row text-center">
                <div class="col-12 my-auto mx-auto">
                    <h1 class="display-4 team-heading text-uppercase">
                        {{ product.name }}
                    </h1>
                    <h4 class="team-sub-heading pt-4">
                        {{ product.header_paragraph }}
                    </h4>
                </div>
                <p class="">
                    {{ product.duration }}
                </p>
                <p class="">
                    {{ product.distance }}
                </p>
                <p>
                    {{ product.level }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes_products/quantity_input_script.html' %}
{% endblock %}