{% extends "base.html" %}
{% load static %}
{% load humanize %} 

{% block title %}| Trail Runing Holiday Detail{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block header_content %}
    <div class="container-fluid">
        <div id="adventure-header">
            <img src="{{ MEDIA_URL }}{{ holiday.holiday_header_image }}" class="img-fluid" id="adventure-header-img" alt="{{ holiday.name }}">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12 col-sm-6 my-auto mx-auto">
                        <div id="adventure-header-block">
                            <h1 class="display-4 top-heading text-uppercase">
                                {{ holiday.name }}
                            </h1>
                            <h5 class="team-sub-heading col-lg-8 offset-lg-2 pt-4 p-2">
                                {{ holiday.header_paragraph }}
                            </h5>
                            <div class="adventure-header-info py-5">
                                <div class="d-inline p-1">
                                    <i class="fas fa-history fa-3x h-icon"></i>
                                    <span class="adventure-data">{{ holiday.duration }} nights</span>
                                </div>
                                <div class="d-inline ps-3 pe-3">
                                    <i class="fas fa-ruler fa-3x h-icon d-inline"></i>
                                    <span class="adventure-data">{{ holiday.distance }} km</span>
                                </div>
                                <div class="d-inline ps-3 pe-3">
                                    <i class="fab fa-cloudscale fa-3x h-icon d-inline"></i>
                                    <span class="adventure-data">{{ holiday.level }}</span>
                                    <span class="h-info-icon">
                                        <a href="#myModal" data-bs-toggle="modal">
                                            <i class="fas fa-info fa-1x text-white"></i>
                                        </a>
                                    </span>
                                </div>
                                <!-- Modal - holiday difficulty level-->
                                <div class="modal fade text-black" id="myModal" aria-hidden="true" aria-labelledby="myModalLabel" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="myModalLabel">Tour difficulty explained</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <h4 class="text-uppercase">{{ holiday.level }}</h4> 
                                          <br>
                                          <p>{{ holiday.level.description }}</p>
                                      </div>
                                        <div class="modal-footer">
                                          <button class="btn btn-success" data-bs-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                    <h5 class="text-white heading-price d-none d-sm-block">€ {{ holiday.price|intcomma }} per person</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-lg-6">
                <div class="">
                    <h1 class="holiday-heading text-uppercase text-right">
                        {{ holiday.name }}
                    </h1>
                </div>
                <p class="holiday-date text-uppercase">
                    <strong>Date: {{ holiday.start_date }} - {{ holiday.end_date }}</strong>
                </p>
                <p><small>RISK FREE BOOKING POLICY. GET A FULL REFUND IN CASE 
                    OF CANCELLATION.</small></p>
            </div>
            <div class="col-lg-6">
                <div class="holiday-price-info text-uppercase">
                    <p>Early Bird available now until 01 FEBRUARY 2021</p>
                </div>
                <h3 class="holiday-price text-uppercase">
                    €{{ holiday.price|intcomma }} PP
                </h3>
                <div class="py-5">
                    <!-- Book Modal Button -->
                    <button type="button" class="btn btn-lg justify-content-center section-button text-white" 
                        data-bs-toggle="modal" data-bs-target="#bookModal{{ holiday.id }}">
                        <span>BOOK NOW</span>
                    </button>
                </div>
                {% include 'products/includes_holidays/book_modal.html' %}
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <img src="{{ MEDIA_URL }}{{holiday.image_1}}" class="img-fluid" alt="{{ holiday.name }}">
        </div>
    </div>
    <!-- Overview -->
    <section class="overview-section">
        <div class="container">
            <div class="row text-center">
                {% include 'products/includes_holidays/holiday_overview.html' %}
            </div>
        </div>
    </section>
    <!-- Itinerary -->
    <section class="itinerary-section">
        <div class="container">
            <div class="row text-center">
                {% include 'products/includes_holidays/holiday_itinerary.html' %}
            </div>
        </div>
    </section>
    <!-- Route -->
    <section class="route-section">
        <div class="container">
            <div class="row">
                {% include 'products/includes_holidays/holiday_route.html' %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                {% include 'products/includes_holidays/holiday_faq.html' %}
            </div>
        </div>
    </section>
    <div class="py-5 mx-auto text-center">
        <!-- Book Modal Button -->
        <button type="button" class="btn btn-lg justify-content-center section-button text-white" 
            data-bs-toggle="modal" data-bs-target="#bookModal{{ holiday.id }}">
            <span>BOOK NOW</span>
        </button>
    </div>
    {% include 'products/includes_holidays/book_modal.html' %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        {% include 'products/includes_holidays/participant_input_script.html' %}
{% endblock %}